@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.footer {
    padding-inline: var(--container-padding-x);
    padding-top: calc(var(--container-padding-x) / 1.2);
    padding-bottom: calc(var(--container-padding-x) / 1.5);

    background-color: var(--color-footer);
    margin-top: calc(var(--container-padding-x) * 2);


    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: rem(5);        
        width: 100%;
        max-width: var(--container-width);
        height: auto;
        margin: auto;

        @include adaptive(mobile-wide) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__logo-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(16);

        li span {
            display: block;
        }
    }

    &__icon-list {
        
        display: flex;
        justify-content: end;
        @include fluid-space(gap, 20, 60);
        
    }

    &__out-link {
        
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;

        @include adaptive(mobile-wide) {
            display: flex;
            flex-direction: column;
            margin-top: rem(-5);
        }

        li a {
            display: block;
            
        }

        @include adaptive(mobile-wide) {
            align-items: end;
        }
        
    }
    
    &__link {
        color: var(--color-light);
        @include fluid-text(9, 14);
        @include interactive(var(--color-shadows));
        
    }

    &__logo {
        
        @include interactive(var(--color-shadows)); 
    }

    
    &--text {
        color: var(--color-light);
        font-family: var(--font-family-support);
        @include fluid-text(8, 12);
         
    }

    .logo {
        @include fluid-space(height, 14, 20);
    }

    .icon {
        @include fluid-space(height, 26, 32);
        stroke: var(--color-light);
        @include interactive(var(--color-shadows));  
    }

    

}