@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.footer {
    padding: var(--container-padding-x);
    background-color: var(--color-footer);
    margin-top: calc(var(--container-padding-x) * 2);

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); //min-width 450 
        gap: rem(16);
        width: 100%;
        max-width: var(--container-width);
        height: auto;
        margin: auto;

        @include adaptive(tablet) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &--text {
        color: var(--color-light);
        font-family: var(--font-family-support);
        @include fluid-text(10, 15);
         
    }

    &__icon-list {
        display: flex;
        gap: rem(32); 
    }

    &__link {
        color: var(--color-light);
        @include fluid-text(8, 16);
        @include interactive(var(--color-shadows));
        
    }

    &__logo {
        display: inline-block;
        @include interactive(var(--color-shadows)); 
    }

    &__column-center {
        justify-items: right; //min-width 450 

        @include adaptive(tablet) {
            justify-items: center;
        }
    }

    &__out-link {
        @include adaptive(tablet) {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between;
            height: 100%;  
        }
    }

    .logo {
        @include fluid-space(height, 16, 20);
    }

    .icon {
        @include fluid-space(height, 32, 48);
        stroke: var(--color-light);
        @include interactive(var(--color-shadows));  
    }

    

}