@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;


.header {
    @include flex-center;
    position: sticky;
    top: 0;
    z-index: 20;
    background: var(--color-light);
    height: var(--header-height);
    box-shadow: 0 0 rem(10) var(--color-shadows);
    padding-inline: var(--container-padding-x);
    transform: translateY(0);
    transition: transform 0.5s ease;
    will-change: transform;

    &.is-hidden {
        transform: translateY(-100%);
        
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: var(--container-width);      
    }

    &__menu {
        margin-left: auto;
    }

    &__menu-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include fluid-space(column-gap, 20, 48);
              
    }

    &__menu-item {
        display: flex;
        align-items: center;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem(4);
    }

    &__button {
        height: calc(var(--header-height) / 1.8);
        color: var(--color-link);
        background-color: transparent;
        border: var(--border);
        border-radius: var(--border-radius);
        font-family: var(--font-family-support);
        font-weight: 400;
        text-transform: none;
        cursor: pointer;
        @include fluid-text(12, 16);
        @include fluid-space(letter-spacing, 3, 5);
        @include fluid-space(padding-inline, 8, 32);            
        @include interactive(var(--color-link-hover));       
    }

    &__menu-item--dropdown {
        position: relative;
    }

    &__dropdown {
        
        position: absolute;
        
        right: 0;
        top: 100%;
        
        
        opacity: 0;
        visibility: hidden;
        
        pointer-events: none;
        transition: opacity 0.2s ease, transform 0.2s ease;
        z-index: 20;
        transform: translateY(0);

              

        @include fluid-space (width, 300, 600);

        .intro__list {
            max-height: 100vh;
            overflow-y: auto;
        }
  

        .intro__link {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            @include fluid-space (height, 60, 80);
        }

        .intro__item-container {
            grid-template-columns: 1fr 3fr;
            
            @include adaptive(laptop) {
                grid-template-columns: 1fr 2fr; 
            }

            .icon {
                @include fluid-space (height, 35, 40);
            }          

        }

        .intro__period {
            display: none;
            @include adaptive (laptop) {
                display: block;
            }
        }

        .intro__item-description {
            display: none;
        }


        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(rem(30));
        }
    }

    .icon {
        height: calc(var(--header-height) / 1.8);
    }

       
}








