
:where(ul, ol)[class] {
    padding-left: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl)[class] {
    margin-block: 0;
}

:where(ul[class]) {
    list-style: none;
}

html {
    height: 100%;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

:root {
    --color-text: #4C1E00;
    --color-light: #ffffff;
    --color-link: #798A8D;
    --color-link-hover: #595959;
    --color-footer: #595959;
    --color-shadows: #9AA2A3;


    --border: 0.06rem solid var(--color-link);
    --border-hover: 0.06rem solid var(--color-link-hover);
    --border-radius: 1.8rem;
    
    --font-family-base: Georgia, serif;
    --font-family-support: Arial, sans-serif;

    --container-width: 75rem;
    --container-padding-x: clamp(1rem, 3vw, 2rem);

    --transition-duration: 0.2s;

    --header-height: clamp(4rem, 5vw, 5rem);

}

body {
    margin: 0;
    font-family: var(--font-family-base);
    font-size: 1rem;
    color: var(--color-text);
    line-height: 1.5;
    min-height: 100%;
    background-color: var(--color-light);
    overflow-x: hidden;
}

a, button, input, textarea, svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    font-weight: 700;
}

.title--h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.title--h2 {
    display: flex;
    align-items: center;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    margin-top: calc(var(--container-padding-x) * 3);
}

.title--h3 {
    font-size: clamp(1rem, 2vw, 1rem);
}

.title--h4 {
    font-size: clamp(1rem, 2vw, 1rem);
}

.small--text {
    font-size: clamp(0.6rem, 2vw, 0.75rem);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    padding-inline: var(--container-padding-x);
    box-shadow: 0 0 0.5rem var(--color-shadows);
    
}

.header__container {
    width: 100%;
    max-width: var(--container-width);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header__container-logo {
    display: flex;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
}

.header__logo-svg {
    height: calc(var(--header-height) / 2);
    width: auto;
    margin-bottom: -0.5rem;
}

.header__container-menu {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
}

.header__container-menu-list,
.header__container-menu-container,
.header__container-menu-item,
.header__container-menu-wide {
    display: none;
}

.header__container-menu-list {
    column-gap: clamp(0.1rem, 3vw, 10rem);

}

.header__container-menu-wide {
    margin-left: clamp(0.1rem, 3vw, 10rem);
}

.header__button-svg {
    height: calc(var(--header-height) / 2);
    width: auto;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: var(--border-radius);
    border: none;
    padding: 0;
}

.header__button-svg:hover .header__button-icon-svg path {
    stroke: var(--color-link-hover);
}

.header__button-icon-svg {
    height: calc(var(--header-height) / 2);
    width: auto;
}

.header__button-icon-svg path {
    stroke: var(--color-link);
    stroke-width: 0.08rem;
}

.header__button {
    height: calc(var(--header-height) / 2);
    width: auto;
    aspect-ratio: 1;
    color: var(--color-link);
    background-color: transparent;
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: pointer;
}

.header__button:hover {
    color: var(--color-link-hover);
}

.header__button-content {
    font-family: var(--font-family-support);
    font-weight: 400;
    font-size: 1rem;
    text-transform: none;
    letter-spacing: 0.3rem;
    padding-inline: calc(var(--container-padding-x) / 2);
}

.header__button-content:hover {
    color: var(--color-link-hover);
    border-color: var(--color-link-hover);
}

.header__button-burger {
    display: flex;
}

.header__button-burger-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.25rem;
}

.header__button-burger-line {
    
    width: 1rem;
    height: 0.125rem;
    background-color: currentColor;
}

.content {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    max-width: var(--container-width);
    padding-inline: var(--container-padding-x);
}

.intro {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    min-height: calc(100vh - var(--header-height));
    min-height: calc(100dvh - var(--header-height));
    background-image: image-set(
        url("./Images/intro-bg.avif.avif") type("image/avif"),
        url("./Images/intro-bg.webp.webp") type("image/webp")
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
        
}

.intro-container {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    max-width: var(--container-width);
    padding-inline: var(--container-padding-x);
}

.intro__nav-item {
    display: grid;
    height: 8rem;
    grid-template-columns: repeat(1, 1fr);
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.2rem var(--color-shadows);
    user-select: none;
    background-color: var(--color-light);
}

.intro__nav-item:hover {
    cursor: pointer;
    box-shadow: 0 0 0.2rem var(--color-link-hover);
}

.intro__nav-item:hover .intro__nav-icon-svg path {
    stroke: var(--color-link-hover);
}

.intro__nav-item:hover .intro__nav-link p {
    color: var(--color-link-hover);
}

.intro__nav-item:not(:last-child) {
    margin-bottom: 1rem;
}

.intro__nav-description {
    padding-left: 2rem;
    padding-right: 2rem;
    display: none;
}

.intro__nav-link-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    
    padding-inline: 2rem;
}

.intro__nav-icon-svg {
    height: 3rem;
    width: auto;
    margin-bottom: -0.4rem;
}

.appendix__svg {
    height: 3.5rem;
}

.intro__nav-icon-svg path {
    stroke: var(--color-link);
    stroke-width: 0.08rem;
}

.section--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.picture--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--container-padding-x);
}

.picture--container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.2rem var(--color-shadows);
    padding: 1.5rem;
    gap: 1.5rem;
}

.picture--container-inner:hover {
    box-shadow: 0 0 0.2rem var(--color-link-hover);
}

.picture--container-inner picture:hover {
    cursor: pointer;
}

.large-picture--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.2rem var(--color-shadows);
    padding: 1.5rem;
    gap: 1.5rem;
}

.large-picture--container:hover {
    box-shadow: 0 0 0.2rem var(--color-link-hover);
}

.large-picture--container picture:hover {
    cursor: pointer;
}

.double-picture--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.wide-picture--container {
    display: flex;
}

.small-picture--img {
    width: clamp(7rem, 10vw, 9rem);
    height: auto;
}

.picture--img {
    width: clamp(11rem, 15vw, 15rem);
    height: auto;
}

.wide-picture--img {
    width: clamp(18rem, 40vw, 45rem);
    height: auto;
}

.picture--description {
    font-family: var(--font-family-support);
    color: var(--color-footer);
    font-size: 0.9rem;
}

.map--container {
    display: flex;
    justify-content: center;
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.2rem var(--color-shadows);
    padding: var(--container-padding-x);
    margin-bottom: 2rem;
}

.map--container:hover {
    box-shadow: 0 0 0.2rem var(--color-link-hover);
    cursor: pointer;
}

.map--img {
    width: clamp(18rem, 85vw, 73rem);
    height: auto;
}

.text--narrow {
    max-width: 50rem;
}

.kimmeric__title::before,
.spartok__title::before,
.mitridat__title::before,
.tibery__title::before,
.late__title::before,
.literature__title::before {
    margin-right: var(--container-padding-x);
    height: 4rem;
    aspect-ratio: 1;
}

.kimmeric__title::before {
    content: url(./Icons/icon-Apollo-text.svg);
}

.spartok__title::before {
    content: url(./Icons/icon-Spartokids-text.svg);
}

.mitridat__title::before {
    content: url(./Icons/icon-Mitridat-text.svg);
}

.tibery__title::before {
    content: url(./Icons/icon-Tiberiy-text.svg);
}

.late__title::before {
    content: url(./Icons/icon-Late-Rome-text.svg);
}

.literature__title::before {
    content: url(./Icons/icon-appendix-text.svg);
}

.footer {
    padding: var(--container-padding-x);
    background-color: var(--color-footer);
    margin-top: calc(var(--container-padding-x) * 2);
}

.footer__container {
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: var(--container-width);
    height: auto;
    margin: auto;
}

.footer__logo-svg {
    height: 1.8rem;
    width: auto;
}

.footer-icon-svg {
    height: calc(var(--header-height) / 2);
    width: auto;
}

.footer--text {
    color: var(--color-light);
    font-family: var(--font-family-support);
    font-size: clamp(0.6rem, 2vw, 0.9rem);
}

.footer__icon-list {
    display: flex;
    gap: 2rem;
}

.footer-icon-svg path {
    stroke: var(--color-light);
    stroke-width: 0.08rem;
}


.icon-list-item:hover .footer-icon-svg path {
    stroke: var(--color-shadows);
}

.footer__link {
    color: var(--color-light);
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}

.footer__link:hover {
    color: var(--color-shadows);
}

@media (min-width: 360px) {
    
    .header__button-burger {
        display: none;
    }
    
    .header__container-menu-wide {
        display: flex;
    }

    .intro__nav-item {
        height: 5.5rem;
    }

    .large-picture--container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (min-width: 450px) {

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .footer__column-center {
        justify-items: right;
    }

}

@media (min-width: 500px) {

    .header__container-menu-list,
    .header__container-menu-container,
    .header__container-menu-item {
        display: flex;
    }
   
}

@media (min-width: 700px) {
     
    .intro__nav-item {
    grid-template-columns: repeat(2, 1fr);
    }

    .intro__nav-link-container {
        justify-content: flex-start;
    }

    .intro__nav-description {
    padding-left: 0;
    display: flex;
    }

    .picture--container-inner {
        flex-direction: row;
    }

    .picture--description {
        padding-left: 1.5rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer__column-center {
        justify-items: center;
    }

    .footer__out-link {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        height: 100%;
    }

}

@media (min-width: 850px) {
    
    .large-picture--container {
        display: grid;
        justify-content:space-around;
        justify-items: center;
    }    
    
    .spartok__large-picture-container {            
        grid-template-areas: 
        "large-picture-1 large-picture-3 large-picture-2"
        "large-picture-1 large-picture-4 large-picture-description";
    }

    .kul-oba-1 {
        grid-area: large-picture-1;
    }

    .kul-oba-2 {
        grid-area: large-picture-2;

    }

    .kul-oba-3 {
        grid-area: large-picture-3;
    }

    .kul-oba-4 {
        grid-area: large-picture-4;
    }

    .kul-oba-description {
        grid-area: large-picture-description;
    }

    .spartok__large-picture-container-2 {
        grid-template-areas: 
        "large-picture-1 large-picture-1 large-picture-description"
        "large-picture-2 large-picture-3 large-picture-4";
    }

    .bliz-1 {
        grid-area: large-picture-1;
    }

    .bliz-2 {
        grid-area: large-picture-2;
    }

    .bliz-3 {
        grid-area: large-picture-3;
    }

    .bliz-4 {
        grid-area: large-picture-4;
    }

    .bliz-description {
        grid-area: large-picture-description;
    }

    .vasy-1 {
        grid-area: large-picture-1;
    }

    .vasy-2 {
        grid-area: large-picture-2;
    }

    .vasy-3 {
        grid-area: large-picture-3;
    }

    .vasy-4 {
        grid-area: large-picture-4;
    }

    .vasy-description {
        grid-area: large-picture-description;
    }

    .kul-oba-description,
    .bliz-description,
    .vasy-description {
        max-width: 10rem;
    }

}

@media (min-width: 1000px) {
    
    /* .intro {
        display: grid;
        grid-template-areas: 
        "intro-container intro-container intro__picture-container"
        "intro-container intro-container .";
    }

    .intro-container {
        grid-area: intro-container;
    }

    .intro__picture-container {
        grid-area: intro__picture-container;
    } */

    .intro__text,
    .intro__nav {
        max-width: 70%;
    }
    
    .section--container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 4rem;
    }
    
    .picture--container-inner {
        flex-direction: column;
    }

    .picture--description {
        padding-left: 0;
    }

    .kimmeric {
        display: grid;
        grid-template-areas: 
        "kimmeric__title kimmeric__title kimmeric__title"
        "kimmeric__text kimmeric__text kimmeric__picture-container"
        "kimmeric__text kimmeric__text ."
        "kimmeric__map-container kimmeric__map-container kimmeric__map-container"
        "kimmeric__picture-container-left kimmeric__text-2 kimmeric__text-2"
        ". kimmeric__text-2 kimmeric__text-2"
        "kimmeric__map-container-2 kimmeric__map-container-2 kimmeric__map-container-2";
    }

    .kimmeric__title {
        grid-area: kimmeric__title;
    }

    .kimmeric__text {
         grid-area: kimmeric__text;
    }

    .kimmeric__picture-container {
        grid-area: kimmeric__picture-container;
    }

    .kimmeric__map-container {
        grid-area: kimmeric__map-container;
        margin-bottom: 2rem;
    }

    .kimmeric__picture-container-left {
        grid-area: kimmeric__picture-container-left;
    }

    .kimmeric__text-2 {
        grid-area: kimmeric__text-2;
    }

    .kimmeric__map-container-2 {
        grid-area: kimmeric__map-container-2;
    }

    .spartok {
        display: grid;
        grid-template-areas: 
        "spartok__title spartok__title spartok__title"
        "spartok__text spartok__text spartok__picture-container"
        "spartok__text spartok__text ."
        "spartok__map-container spartok__map-container spartok__map-container"
        "spartok__picture-container-left spartok__text-2 spartok__text-2"
        ". spartok__text-2 spartok__text-2"
        "spartok__map-container-2 spartok__map-container-2 spartok__map-container-2"
        "spartok__text-3 spartok__text-3 spartok__picture-container-2"
        "spartok__text-3 spartok__text-3 ."
        "spartok__large-picture-container spartok__large-picture-container spartok__large-picture-container"
        "spartok__text-4 spartok__text-4 spartok__picture-container-2-1"
        "spartok__large-picture-container-2 spartok__large-picture-container-2 spartok__large-picture-container-2"
        "spartok__picture-container-left-2 spartok__text-5 spartok__text-5"
        ". spartok__text-5 spartok__text-5"
        "spartok__map-container-3 spartok__map-container-3 spartok__map-container-3"
        "spartok__text-6 spartok__text-6 spartok__picture-container-3"
        "spartok__text-6 spartok__text-6 ."
        "spartok__large-picture-container-3 spartok__large-picture-container-3 spartok__large-picture-container-3"
        "spartok__picture-container-left-3 spartok__text-7 spartok__text-7"
        ". spartok__text-7 spartok__text-7"
        "spartok__wide-picture-container spartok__wide-picture-container spartok__wide-picture-container"
        "spartok__map-container-4 spartok__map-container-4 spartok__map-container-4"
        "spartok__text-8 spartok__text-8 spartok__picture-container-4"
        "spartok__text-8 spartok__text-8 ."
        "spartok__map-container-5 spartok__map-container-5 spartok__map-container-5";
    }

    .spartok__title {
        grid-area: spartok__title;
    }

    .spartok__text {
        grid-area: spartok__text;
    }

    .spartok__picture-container {
        grid-area: spartok__picture-container;
    }

    .spartok__map-container {
        grid-area: spartok__map-container;
    }

    .spartok__picture-container-left {
        grid-area: spartok__picture-container-left;
    }

    .spartok__text-2 {
        grid-area: spartok__text-2;
    }

    .spartok__map-container-2 {
        grid-area: spartok__map-container-2;
    }

    .spartok__text-3 {
        grid-area: spartok__text-3;
    }

    .spartok__picture-container-2 {
        grid-area: spartok__picture-container-2;
    }

    .spartok__large-picture-container {
        grid-area: spartok__large-picture-container;
    }

    .spartok__text-4 {
        grid-area: spartok__text-4;
    }

    .spartok__picture-container-2-1 {
        grid-area: spartok__picture-container-2-1;
    }

    .spartok__large-picture-container-2 {
        grid-area: spartok__large-picture-container-2;
    }

    .spartok__picture-container-left-2 {
        grid-area: spartok__picture-container-left-2;
    }

    .spartok__text-5 {
        grid-area: spartok__text-5;
    }

    .spartok__map-container-3 {
        grid-area: spartok__map-container-3;
    }

    .spartok__text-6 {
        grid-area: spartok__text-6;
    }

    .spartok__picture-container-3 {
        grid-area: spartok__picture-container-3;
    }

    .spartok__large-picture-container-3 {
        grid-area: spartok__large-picture-container-3;
    }

    .spartok__picture-container-left-3 {
        grid-area: spartok__picture-container-left-3;
    }

    .spartok__text-7 {
        grid-area: spartok__text-7;
    }

    .spartok__wide-picture-container {
        grid-area: spartok__wide-picture-container;
    }

    .spartok__map-container-4 {
        grid-area: spartok__map-container-4;
    }

    .spartok__text-8 {
        grid-area: spartok__text-8;
    }

    .spartok__picture-container-4 {
        grid-area: spartok__picture-container-4;
    }

    .spartok__map-container-5 {
        grid-area: spartok__map-container-5;
    }

    .kul-oba-description,
    .bliz-description,
    .vasy-description {
        max-width: 15rem;
    }

    .mitridat {
        display: grid;
        grid-template-areas:
        "mitridat__title mitridat__title mitridat__title"
        "mitridat__text mitridat__text mitridat__picture-container"
        "mitridat__text mitridat__text ."
        "mitridat__map-container mitridat__map-container mitridat__map-container"
        "mitridat__picture-container-left mitridat__text-2 mitridat__text-2"
        ". mitridat__text-2 mitridat__text-2"
        "mitridat__map-container-2 mitridat__map-container-2 mitridat__map-container-2"
        "mitridat__text-3 mitridat__text-3 mitridat__picture-container-2"
        "mitridat__text-3 mitridat__text-3 ."
        "mitridat__map-container-3 mitridat__map-container-3 mitridat__map-container-3";         
    }

    .mitridat__title {
        grid-area: mitridat__title;
    }

    .mitridat__text {
        grid-area: mitridat__text;
    }

    .mitridat__picture-container {
        grid-area: mitridat__picture-container;
    }

    .mitridat__map-container {
        grid-area: mitridat__map-container;
    }

    .mitridat__picture-container-left {
        grid-area: mitridat__picture-container-left;
    }

    .mitridat__text-2 {
        grid-area: mitridat__text-2;
    }

    .mitridat__map-container-2 {
        grid-area: mitridat__map-container-2;
    }

    .mitridat__text-3 {
        grid-area: mitridat__text-3;
    }

    .mitridat__picture-container-2 {
        grid-area: mitridat__picture-container-2;
    }

    .mitridat__map-container-3 {
        grid-area: mitridat__map-container-3;
    }

    .tibery {
        display: grid;
        grid-template-areas:
        "tibery__title tibery__title tibery__title"
        "tibery__text tibery__text tibery__picture-container"
        "tibery__text tibery__text ."
        "tibery__map-container tibery__map-container tibery__map-container"
        "tibery__picture-container-left tibery__text-2 tibery__text-2"
        ". tibery__text-2 tibery__text-2"
        "tibery__wide-picture-container tibery__wide-picture-container tibery__wide-picture-container"
        "tibery__text-3 tibery__text-3 tibery__picture-container-2"
        "tibery__text-3 tibery__text-3 ." 
        "tibery__map-container-2 tibery__map-container-2 tibery__map-container-2"
        "tibery__picture-container-left-2 tibery__text-4 tibery__text-4"
        ". tibery__text-4 tibery__text-4"
        "tibery__map-container-3 tibery__map-container-3 tibery__map-container-3"
        "tibery__text-5 tibery__text-5 tibery__picture-container-3"
        "tibery__text-5 tibery__text-5 ."
        "tibery__map-container-4 tibery__map-container-4 tibery__map-container-4"
        "tibery__text-6 tibery__text-6 tibery__text-6"
        "tibery__wide-picture-container-2 tibery__wide-picture-container-2 tibery__wide-picture-container-2";
    }

    .tibery__title {
        grid-area: tibery__title;
    }

    .tibery__text {
        grid-area: tibery__text;
    }

    .tibery__picture-container {
        grid-area: tibery__picture-container;
    }

    .tibery__map-container {
        grid-area: tibery__map-container;
    }

    .tibery__picture-container-left {
        grid-area: tibery__picture-container-left;
    }

    .tibery__text-2 {
        grid-area: tibery__text-2;
    }

    .tibery__wide-picture-container {
        grid-area: tibery__wide-picture-container;
    }

    .tibery__text-3 {
        grid-area: tibery__text-3;
    }

    .tibery__picture-container-2 {
        grid-area: tibery__picture-container-2;
    }

    .tibery__map-container-2 {
        grid-area: tibery__map-container-2;
    }

    .tibery__picture-container-left-2 {
        grid-area: tibery__picture-container-left-2;
    }

    .tibery__text-4 {
        grid-area: tibery__text-4;
    }

    .tibery__map-container-3 {
        grid-area: tibery__map-container-3;
    }

    .tibery__text-5 {
        grid-area: tibery__text-5;
    }

    .tibery__picture-container-3 {
        grid-area: tibery__picture-container-3;
    }

    .tibery__map-container-4 {
        grid-area: tibery__map-container-4;
    }

    .tibery__text-6 {
        grid-area: tibery__text-6;
    }

    .tibery__wide-picture-container-2 {
        grid-area: tibery__wide-picture-container-2;
    }

    .late {
        display: grid;
        grid-template-areas:
        "late__title late__title late__title"
        "late__text late__text late__picture-container"
        "late__text late__text ."
        "late__map-container late__map-container late__map-container"
        "late__picture-container-left late__text-2 late__text-2"
        ". late__text-2 late__text-2"
        "late__text-3 late__text-3 late__picture-container-2"
        "late__text-3 late__text-3 .";
    }

    .late__title {
        grid-area: late__title;
    }

    .late__text {
        grid-area: late__text;
    }

    .late__picture-container {
        grid-area: late__picture-container;
    }

    .late__map-container {
        grid-area: late__map-container;
    }

    .late__picture-container-left {
        grid-area: late__picture-container-left;
    }

    .late__text-2 {
        grid-area: late__text-2;
    }

    .late__text-3 {
        grid-area: late__text-3;
    }

    .late__picture-container-2 {
        grid-area: late__picture-container-2;
    }
}