
:where(ul, ol)[class] {
    padding-left: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl)[class] {
    margin-block: 0;
}

:where(ul[class]) {
    list-style: none;
}

html {
    height: 100%;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

:root {
    --color-text: #4C1E00;
    --color-light: #ffffff;
    --color-link: #586c6f;
    /* --color-link: #798A8D; */
    --color-link-hover: #230134;
    /* --color-link-hover: #4c4964; */
    /* --color-link-hover: #595959; */
    --color-footer: #595959;
    --color-shadows: #9AA2A3;
    --color-rulers-spart: #e45a0f; 
    --color-rulers-mitr: #621483;
    --color-rulers-tib: #e50d21;


    --border: 0.06rem solid var(--color-link);
    --border-hover: 0.06rem solid var(--color-link-hover);
    --border-radius: 1.8rem;
    
    --font-family-base: Georgia, serif;
    --font-family-support: Arial, sans-serif;

    --container-width: 75rem;
    --container-padding-x: clamp(1rem, 3vw, 2rem);

    --transition-duration: 0.2s;

    --header-height: clamp(3rem, 3vw, 4.5rem);

}

body {
    margin: 0;
    font-family: var(--font-family-base);
    font-size: 1rem;
    color: var(--color-text);
    line-height: 1.5;
    min-height: 100%;
    background-color: var(--color-light);
    overflow-x: hidden;
}

body.menu-open {
    overflow: hidden;
}

a, button, input, textarea, svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

a:active {
    color: var(--color-link-hover);
}

:focus {
    outline-style: none;
}

:focus-visible {
    outline: 1px solid var(--color-link-hover);
    
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    font-weight: 700;
}

.title--h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.title--h2 {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.4rem);
    margin-top: calc(var(--container-padding-x) * 3);
}

.title--h3,
.title--h4 {
    font-size: clamp(0.9rem, 2vw, 1rem);
}

.small--text {
    font-size: clamp(0.6rem, 2vw, 0.75rem);
}

.header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    padding-inline: var(--container-padding-x);
    box-shadow: 0 0 1.5rem var(--color-shadows);       
}

.header__overlay {
    /* position: fixed; */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* bottom: 0; */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
}

.header__overlay.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header__container {
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__container-logo {
    display: flex;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
}

.header__logo-svg {
    height: calc(var(--header-height) / 1.7);
    width: auto;
    margin-bottom: -0.5rem;
}

.header__container-menu {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
}

.header__container-menu-list,
.header__container-menu-container,
.header__container-menu-item {
    display: none;
}

.header__container-menu-list {
    column-gap: clamp(2rem, 4vw, 3rem);

}

.header__container-menu-wide {
    margin-left: clamp(2rem, 4vw, 3rem);
    position: relative;
}

.header__button-svg {
    height: calc(var(--header-height) / 1.7);
    width: auto;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: var(--border-radius);
    border: none;
    padding: 0;
}

.header__button-icon-svg {
    height: calc(var(--header-height) / 1.7);
    width: auto;
}

.header__button-icon-svg path {
    stroke: var(--color-link);
    stroke-width: 0.08rem;
}

.header__button {
    height: calc(var(--header-height) / 1.7);
    width: auto;
    aspect-ratio: 1;
    color: var(--color-link);
    background-color: transparent;
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: pointer;
}

.header__button-content {
    font-family: var(--font-family-support);
    font-weight: 400;
    font-size: clamp(0.75rem, 2vw, 1rem);
    text-transform: none;
    letter-spacing: 0.3rem;
    padding-inline: calc(var(--container-padding-x) / 2);
}

.header__button-content:active {
    color: var(--color-link-hover);
    border-color: var(--color-link-hover);
}

.header__button:active {
    color: var(--color-link-hover);
}

.header__button-svg:active .header__button-icon-svg path {
    stroke: var(--color-link-hover);
}

@media (hover: hover) and (pointer: fine) {
    .header__button-content:hover {
    color: var(--color-link-hover);
    border-color: var(--color-link-hover);
    }
    .header__button:hover {
    color: var(--color-link-hover);
    }
    .header__button-svg:hover .header__button-icon-svg path {
    stroke: var(--color-link-hover);
    }
}

.header__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(0.5rem);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 20;
}

.header__dropdown.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(2.2rem);
}

.header__dropdown .intro__nav-list {
    width: 29.5rem;      
}

.header__dropdown .intro__nav-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
        
}

.header__dropdown .intro__nav-description {
    display: none;
}

.content {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    max-width: var(--container-width);
    padding-inline: var(--container-padding-x);
}

.intro {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    min-height: calc(100vh - var(--header-height));
    min-height: calc(100dvh - var(--header-height));
    background-image: image-set(
        url("./Images/intro-bg.avif.avif") type("image/avif"),
        url("./Images/intro-bg.webp.webp") type("image/webp")
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
        
}

.intro-container {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    max-width: var(--container-width);
    padding-inline: var(--container-padding-x);
}

.intro__nav-item {
    position: relative;
    display: grid;
    height: 8rem;
    grid-template-columns: repeat(1, 1fr);
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.2rem var(--color-shadows);
    user-select: none;
    background-color: var(--color-light);
    color: var(--color-link);
    cursor: pointer;
}

.intro__nav-item:active {
    box-shadow: 0 0 0.2rem var(--color-link-hover);
    color: var(--color-link-hover);
}

 .intro__nav-item:active .intro__nav-icon-svg path {
        stroke: var(--color-link-hover);
    }

@media (hover: hover) and (pointer: fine) {

    .intro__nav-item:hover {
        
        box-shadow: 0 0 0.2rem var(--color-link-hover);
        color: var(--color-link-hover);
    }

    .intro__nav-item:hover .intro__nav-icon-svg path {
        stroke: var(--color-link-hover);
    }

}

.intro__nav-item:not(:last-child) {
    margin-bottom: 1rem;
}

.intro__nav-overlay-link {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.intro__nav-description {
    padding-left: 2rem;
    padding-right: 2rem;
    display: none;
}

.intro__nav-link-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-inline: 2rem;
}

.intro__nav-icon-svg {
    height: 3rem;
    width: auto;
    margin-bottom: -0.4rem;
}

.appendix__svg {
    height: 3.5rem;
}

.intro__nav-icon-svg path {
    stroke: var(--color-link);
    stroke-width: 0.08rem;
}

.section--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.wrapper,
.wrapper-reverse {
    display: grid;
    flex-direction: column;
    gap: 2rem;        
}

.picture--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--container-padding-x);
    
}

.picture--container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.2rem var(--color-shadows);
    padding: 1.5rem;
    gap: 1.5rem;
}

.large-picture--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.2rem var(--color-shadows);
    padding: 1.5rem;
    gap: 1.5rem;
}

.picture--container-inner:active {
    box-shadow: 0 0 0.2rem var(--color-link-hover);
}

.large-picture--container:active {
    box-shadow: 0 0 0.2rem var(--color-link-hover);
}

@media (hover: hover) and (pointer: fine) {

    .picture--container-inner:hover {
        box-shadow: 0 0 0.2rem var(--color-link-hover);
    }

    .picture--container-inner picture:hover {
        cursor: pointer;
    }

    .large-picture--container:hover {
        box-shadow: 0 0 0.2rem var(--color-link-hover);
    }

    .large-picture--container picture:hover {
        cursor: pointer;
    }
}


.double-picture--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.wide-picture--container {
    display: flex;
}

.small-picture--img {
    width: clamp(7rem, 10vw, 9rem);
    height: auto;
}

.picture--img {
    width: clamp(11rem, 15vw, 15rem);
    height: auto;
}

.wide-picture--img {
    width: clamp(18rem, 40vw, 45rem);
    height: auto;
}

.picture--description {
    font-family: var(--font-family-support);
    color: var(--color-footer);
    font-size: 0.9rem;
    
}

.map--container {
    display: flex;
    justify-content: center;
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.2rem var(--color-shadows);
    padding: var(--container-padding-x);
    margin-bottom: 2rem;
}

.map--container:active {
    box-shadow: 0 0 0.2rem var(--color-link-hover);

}

@media (hover: hover) and (pointer: fine) {
    .map--container:hover {
        box-shadow: 0 0 0.2rem var(--color-link-hover);
        cursor: pointer;
    }
}

.map--img {
    width: clamp(18rem, 85vw, 73rem);
    height: auto;
}

.kimmeric__title::before,
.spartok__title::before,
.mitridat__title::before,
.tibery__title::before,
.late__title::before,
.appendix__title::before {
    content: "";
    display: inline-block;
    margin-right: var(--container-padding-x);
    width: clamp(2.8rem, 5vw, 4rem);
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.kimmeric__title::before {
    background-image: url(./Icons/icon-Apollo-text.svg);
}

.spartok__title::before {
    background-image: url(./Icons/icon-Spartokids-text.svg);
}

.mitridat__title::before {
    background-image: url(./Icons/icon-Mitridat-text.svg);
}

.tibery__title::before {
    background-image: url(./Icons/icon-Tiberiy-text.svg);
}

.late__title::before {
    background-image: url(./Icons/icon-Late-Rome-text.svg);
}

.appendix__title::before {
    background-image: url(./Icons/icon-appendix-text.svg);
    width: clamp(4rem, 7vw, 5.1rem);
}

.appendix__rulers {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.rulers__table {
    min-width: 1200px;
    border-collapse: collapse;
}

.rulers__table td {
    width: 15rem;
    height: 1.5rem;
}

.rulers__title {
    text-align: left;
}

.rulers__text {
    text-align: center;
}

.arch {
    color: var(--color-link-hover);
    border: 1px solid var(--color-link-hover);
}

.spart {
    color: var(--color-rulers-spart);
    border: 1px solid var(--color-rulers-spart);
}

.cell__border--spart {
    border-right: 1px solid var(--color-rulers-spart);
}

.cell__border--spart-bottom {
    border-bottom: 1px solid var(--color-rulers-spart);
}

.mitr {
    color: var(--color-rulers-mitr);
    border: 1px solid var(--color-rulers-mitr);
}

.cell__border--mitr {
    border-right: 1px solid var(--color-rulers-mitr);
}

.not-dinast {
    border: 1px solid var(--color-text);
}

.cell__border--not-dinast {
    border-right: 1px solid var(--color-text);
}

.cell__border--not-dinast-bottom {
    border-bottom: 1px solid var(--color-text);
}

.tib {
    color: var(--color-rulers-tib);
    border: 1px solid var(--color-rulers-tib);
}

.cell__border--tib {
    border-right: 1px solid var(--color-rulers-tib);
}

.cell__border--tib-bottom {
    border-bottom: 1px solid var(--color-rulers-tib);
}

.footer {
    padding: var(--container-padding-x);
    background-color: var(--color-footer);
    margin-top: calc(var(--container-padding-x) * 2);
}

.footer__container {
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: var(--container-width);
    height: auto;
    margin: auto;
}

.footer__logo-svg {
    height: 1.8rem;
    width: auto;
}

.footer-icon-svg {
    height: calc(var(--header-height) / 2);
    width: auto;
}

.footer--text {
    color: var(--color-light);
    font-family: var(--font-family-support);
    font-size: clamp(0.6rem, 2vw, 0.9rem);
}

.footer__icon-list {
    display: flex;
    gap: 2rem;
}

.footer-icon-svg path {
    stroke: var(--color-light);
    stroke-width: 0.08rem;
}

.footer__link {
    color: var(--color-light);
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}

@media (hover: hover) and (pointer: fine) {
    
    .icon-list-item:hover .footer-icon-svg path {
        stroke: var(--color-shadows);
    }

    .footer__link:hover {
        color: var(--color-shadows);
    }
}

@media (min-width: 360px) {
     
    .header__container-menu-wide {
        display: flex;
    }

    .intro__nav-item {
        height: 5.5rem;
    }

    .large-picture--container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (min-width: 450px) {

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .footer__column-center {
        justify-items: right;
    }

}

@media (min-width: 500px) {

    .header__container-menu-list,
    .header__container-menu-container,
    .header__container-menu-item {
        display: flex;
    }
   
}

@media (min-width: 700px) {
     
    .intro__nav-item {
    grid-template-columns: repeat(2, 1fr);
    }

    .intro__nav-link-container {
        justify-content: flex-start;
    }

    .intro__nav-description {
    padding-left: 0;
    display: flex;
    }

    .picture--container-inner {
        flex-direction: row;
    }

    .picture--description {
        padding-left: 1.5rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer__column-center {
        justify-items: center;
    }

    .footer__out-link {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        height: 100%;
    }

}

@media (min-width: 850px) {
    
    .large-picture--container {
        display: grid;
        justify-content:space-around;
        justify-items: center;
    }    
    
    .spartok__large-picture-container {            
        grid-template-areas: 
        "large-picture-1 large-picture-3 large-picture-2"
        "large-picture-1 large-picture-4 large-picture-description";
    }

    .kul-oba-1 {
        grid-area: large-picture-1;
    }

    .kul-oba-2 {
        grid-area: large-picture-2;

    }

    .kul-oba-3 {
        grid-area: large-picture-3;
    }

    .kul-oba-4 {
        grid-area: large-picture-4;
    }

    .kul-oba-description {
        grid-area: large-picture-description;
    }

    .spartok__large-picture-container-2 {
        grid-template-areas: 
        "large-picture-1 large-picture-1 large-picture-description"
        "large-picture-2 large-picture-3 large-picture-4";
    }

    .bliz-1 {
        grid-area: large-picture-1;
    }

    .bliz-2 {
        grid-area: large-picture-2;
    }

    .bliz-3 {
        grid-area: large-picture-3;
    }

    .bliz-4 {
        grid-area: large-picture-4;
    }

    .bliz-description {
        grid-area: large-picture-description;
    }

    .vasy-1 {
        grid-area: large-picture-1;
    }

    .vasy-2 {
        grid-area: large-picture-2;
    }

    .vasy-3 {
        grid-area: large-picture-3;
    }

    .vasy-4 {
        grid-area: large-picture-4;
    }

    .vasy-description {
        grid-area: large-picture-description;
    }

    .kul-oba-description,
    .bliz-description,
    .vasy-description {
        max-width: 10rem;
    }

}

@media (min-width: 1000px) {
    
    .intro__text,
    .intro__nav {
        max-width: 70%;
    }
        
    .picture--container-inner {
        flex-direction: column;
    }

    .picture--description {
        padding-left: 0;
    }

    .kul-oba-description,
    .bliz-description,
    .vasy-description {
        max-width: 15rem;
    }

    .wrapper {
        grid-template-columns: 70fr 30fr;
        grid-template-areas: "text-area picture--container";
        align-items: start;
    }

    .wrapper-reverse {
       grid-template-columns: 30fr 70fr;
       grid-template-areas: "picture--container text-area";
       align-items: start;
    }

    .text-area {
        grid-area: text-area;
    }

    .picture--container {
        grid-area: picture--container;
    }

}