@use 'sass:math';
@use 'sass:list';
@use './functions' as *;
@use './variables' as *;

@function fluid-value($min, $max) {
    $slope: math.div(($max - $min), ($fluid-max-viewport - $fluid-min-viewport));
    $y: $min - ($slope * $fluid-min-viewport);

    @return clamp(
        rem($min),
        rem($y) + $slope * 100vw,
        rem($max)
    );
}

@mixin fluid-text($min, $max) {
    font-size: fluid-value($min, $max);
}

@mixin fluid-space($property, $min-values, $max-values) {
    @if list.length($min-values) != list.length($max-values) {
        @error 'fluid-space(): min and max values ​​must be specified'
    }

    $result: ();

    @for $i from 1 through list.length($min-values) {
        $result: list.append($result, fluid-value(list.nth($min-values, $i), list.nth($max-values,$i)), space);
    }

    #{$property}: $result;
    
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin interactive($hover-color) {
    
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: $hover-color;
            border-color: $hover-color;
            stroke: $hover-color;
        }
    }

    &:active {
        color: $hover-color;
        border-color: $hover-color;
        
        
    }

    &:focus-visible {
        outline: rem(1) solid $hover-color;
                
    }
}

@mixin interactive-box-shadow($hover-color) {
    
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: 0 0 rem(3) $hover-color;
        }
    }

        &:active {
            box-shadow: 0 0 rem(3) $hover-color;
        }

}

@mixin section-title {
    content: "";
    display: inline-block;
    margin-right: var(--container-padding-x);
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include fluid-space(width, 45, 64);
}

@mixin adaptive($breakpoint) {
    
    @if $breakpoint == mobile-wide {
        @media (min-width: rem(500)) {
            @content;
        }
    }
    
    @if $breakpoint == tablet {
        @media (min-width: rem(700)) {
            @content;
        } 
    }

    @if $breakpoint == laptop {
        @media (min-width: rem(900)) {
            @content;
        } 
    }

    @if $breakpoint == desktop {
        @media (min-width: rem(1000)) {
            @content;
        } 
    }
}