@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

:root {

    --color-text: #{$color-text};
    --color-light: #{$color-light};
    --color-link: #{$color-link};
    --color-link-hover: #{$color-link-hover};
    --color-footer: #{$color-footer};
    --color-shadows: #{$color-shadows};

    --color-rulers-spart: #{$color-rulers-spart};
    --color-rulers-mitr: #{$color-rulers-mitr};
    --color-rulers-tib: #{$color-rulers-tib};

    --font-family-base: #{$font-family-base};
    --font-family-support: #{$font-family-support};

    --root-font-size: #{rem($root-font-size)}; 

    --container-width: #{rem($container-width)};

    --container-padding-x: #{fluid-value(
        $container-padding-x-min,
        $container-padding-x-max
    )};

    --header-height: #{fluid-value(
        $header-height-min,
        $header-height-max
    )};

    --transition-duration: #{$transition-duration}; 

    --border-radius: #{rem($border-radius)};
    --border: #{rem($border-width)} solid #{$color-link};
    --border-hover: #{rem($border-width)} solid #{$color-link-hover};

    --fluid-min-viewport: #{rem($fluid-min-viewport)};
    --fluid-max-viewport: #{rem($fluid-max-viewport)};


}

body {
    font-family: var(--font-family-base);
    font-size: var(--root-font-size);
    line-height: 1.65;
    min-height: 100%;
    color: var(--color-text);
    background-color: var(--color-light);
    overflow-x: hidden;

        &.menu-open {
        overflow: hidden;
    }
}

a, button, input, textarea, svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color var(--transition-duration);

    @include interactive(var(--color-link-hover));
}

.content {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    max-width: var(--container-width);
    padding-inline: var(--container-padding-x);
}

.section--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(32);
}

.wrapper {
    display: grid;
    flex-direction: column;
    gap: rem(32);
    
    @include adaptive(laptop) {
        grid-template-columns: 70fr 30fr;
        grid-template-areas: "text-area picture--container";
        align-items: start;
    }
}

.wrapper-reverse {
    display: grid;
    flex-direction: column;
    gap: rem(32); 
    
    @include adaptive(laptop) {
       grid-template-columns: 30fr 70fr;
       grid-template-areas: "picture--container text-area";
       align-items: start;
    }
}

.text-area {
    @include fluid-space(padding-inline, 1, 120);

    @include adaptive(laptop) {
        grid-area: text-area;
        padding-inline: 0;
    }
}

.picture--container {
    @include adaptive(laptop) {
        grid-area: picture--container;
    }
}