@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.map--container {
    display: flex;
    justify-content: center;
    
    border: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 rem(3) var(--color-shadows);
    @include interactive-box-shadow(var(--color-link-hover));
        
    @include fluid-space(padding-block, 10, 20);
    margin-bottom: rem(32);
   
}

.map--img {
    @include fluid-space(width, 290, 1168);
    height: auto;
    cursor: pointer;
}