@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.modal {
    display: none;

    &.is-open {
        position: fixed;
        inset: 0;
        z-index: 100;
        
        @include flex-center;
    }
    
    &__overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &__window {
        z-index: 1;
    }

    &__viewer {
       
        width: clamp(rem(300), 95vw, rem(1000));
        @include adaptive(tablet){
            width: clamp(rem(300), 80vw, rem(1000));
        }
        @include adaptive(laptop){
            width: clamp(rem(300), 70vw, rem(1000));
        }
        @include adaptive(desktop){
            width: clamp(rem(300), 60vw, rem(1000));
        }
        height: clamp(rem(300), 90vh, rem(1000));
        max-width: calc(100vw - var(--container-padding-x) * 2);
        max-height: calc(100vh - var(--container-padding-x) * 2); 
        overflow: hidden;
        
        &.has-map {
            position: relative;
            cursor: grab;
            user-select: none;
            touch-action: none;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        pointer-events: auto;

        &.is-map {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: none;
            transform-origin: 0 0;
            will-change: transform;
        }
    }

    &__button {
        position: absolute;
        top: 2%;
        right: 2%;
        z-index: 10;
        padding: 0;
        border: none;
        border-radius: var(--border-radius);
        background: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }

    &__icon {
        display: block;
        @include fluid-space(width, 16, 28);
        height: auto;
        box-sizing: border-box;
        // border: rem(1) solid var(--color-gray);
        border-radius: rem(6);
        stroke: var(--color-gray);
        stroke-width: 1.5;
        fill: none;
        
    }

    &__icon rect {
        display: none;
    }
}
